@import "~bootstrap";

body{
    background-color: #18171a;
}

.join-community{
    background-color: rgb(219, 0, 91);
}

.join-community:hover,.join-community:focus-visible{
    background-color: rgb(219, 0, 91);
}
.btn.join-community:active{
    background-color: rgb(219, 0, 91);
}

.join-community:checked{
    background-color: rgb(219, 0, 91);
}

.circle {
    height:350px;
    background: radial-gradient(circle at center, rgb(51, 14, 89) 20%, transparent 100%),
                radial-gradient(circle at center, rgb(93, 8, 33) 10%, transparent 100%),
                radial-gradient(circle at center, rgb(181, 98, 44) 10%, transparent 100%);

    background-position: -80px -50px, 100px 100px, -150px 200px;
    backdrop-filter: blur(3px);
  
  }

  .test-slide{
    background-color: #333134;
    border-radius: 12px;
  }
  .insideDiv{
    position:relative;
  }
 
  .fcard{

    background-color: #333134;
    border-radius: 12px;
  }

.gbtn{
 
        background: linear-gradient(to bottom, #620dc9af, #914ade);
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 0px 10px 10px 0px;
        cursor: pointer;

}

footer{
    border-top: 1px solid white;
}
.input{
    background-color: black;
    border: none;
    border-radius: 10px 0px 0px 10px;
    height: 50px;
    outline: none;
    caret-color: white;
    color: white;
    font-size: 18px;
}

input{
    outline: none;
    background-color: transparent;
    border: none;
}

.lpht{
color: #f7ecf0;
font-family: Open Sans, sans-serif;
font-size: 56px;
font-weight: 800;
line-height: 68px;
}
.gradient{
    -webkit-text-fill-color: transparent;
background-image: linear-gradient(#865dff, #865dff);
-webkit-background-clip: text;
background-clip: text;
}

.hdesc{
    color: rgba(247, 236, 240, .59);
    font-size: 14px;
}

.ht-2,.lpt2{
    color: hsla(255.2173913043478, 100%, 72.94%, 1);
font-size: 32px;
line-height: 36px;
text-align: center;
font-weight: bold;
}

.headerCard{
    border-radius: 12px;

    background-color:hsla(335.06849315068496, 39.19%, 94.52%, 0.12);
}

.headerCard1{

    column-gap: 42px;
    row-gap: 42px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.lpt2{
    color: hsla(255.2173913043478, 100%, 72.94%, 1);
    font-weight: bold;
}

.card-b{
    border-radius: 12px;
}

.card-b:hover{
    box-shadow: rgb(152, 117, 255) -1px 1px 6px 0px;
transform: scale(1.1);
}

.card-t{
    font-size: 20px;
    font-weight: bold;
}

.img{
    min-width:40px;
}